<!DOCTYPE html>
<html lang="en-US" ng-app="tas">
  <head>
    <meta charset="utf-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>My Title</title>    
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
    <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">-->
    <link rel="stylesheet" href="css/main.css">    
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:200,300" rel="stylesheet" type="text/css">
  </head>  
  <body>
    <nav data-topbar="" role="navigation" class="top-bar colorNav contain-to-grid" ng-controller="AuthController as auth">
      <ul class="title-area">
        <li class="name"><a href="index.html"><img src="images/ChefItLOGO.png" class="logo"></a></li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone-->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>  
      <section class="top-bar-section">
        <!-- Right Nav Section-->
        <ul class="right">
          <li><a href="/#/" class="backLinks">Home</a></li>&#x9;&#x9;      
          <li class="has-dropdown"><a href="#" class="backLinks">Login or Register</a>&#x9;&#x9;        
            <ul class="dropdown">
              <form name="loginForm" ng-submit="auth.login()" ng-hide="auth.isLoggedIn()" novalidate="">
                <div ng-hide="auth.isLoggedIn()" class="row">
                  <div class="large-12 columns right inputColor">
                    <input type="email" placeholder="email" ng-model="auth.user.email" required="">
                  </div>
                </div>  
                <div ng-hide="auth.isLoggedIn()" class="row">
                  <div class="small-12 columns right inputColor">
                    <input id="login-password" type="password" placeholder="Password" ng-model="auth.user.password" required="">
                  </div>
                </div>  
                <div class="row">
                  <div class="large-12 large-centered columns">
                    <input type="submit" value="Login" class="button success expand">
                  </div>
                </div>  
                <div class="row">
                  <div style="margin-bottom: 10px;" class="large-12 large-centered columns">
                    <button type="submit" value="Register" ng-click="auth.register()" class="button expand">Register</button>
                  </div>
                </div>
              </form>
            </ul>
          </li>
        <ul class="right">
				 <button ng-show="user" class="button button success" style="margin-top:30px;"><a href="#" data-reveal-id="myModal" style="color: white; font-family: 'Titillium Web', sans-serif;">New Recipe</a></button>
				 <button ng-show="user" class="button button warning"><a href="/#/logout" style="color: white; font-family: 'Titillium Web', sans-serif;" >Logout {{user.password.email}}</a></button>
				 

      	</ul>
        </ul>
      </section>
    </nav>
    
    
		 <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" ng-controller=" TasController as tas">
		  <h2 id="modalTitle">New Recipe Form</h2>
		  <p class="lead">Please Fill out the Form to Create your own Recipe!</p>		  
			
			
			<form name="">
			  <div class="row" ng-class="{'has-error': tas.newTAForm.$dirty}">
			    <div class="large-12 columns">
			      <label>Name of the Recipe:
			        <input type="text" placeholder="Enter the name of your recipe" ng-model="tas.newTA.firstName" required />
			      </label>
			    </div>
			  </div>
			  <div class="row" ng-class="{'has-error': tas.newTAForm.$dirty}">
			    <div class="large-12 columns">
			      <label>Description of your Recipe:
			        <input type="text" placeholder="type in your description" ng-model="tas.newTA.lastName" required />
			      </label>
			    </div>
			  </div>
			  <div class="row" ng-class="{'has-error': tas.newTAForm.$dirty}">
			    <div class="large-12 columns">
			      <label>Ingredients:
			        <input type="text" placeholder="type in your ingredients" ng-model="tas.newTA.nickName" required />
			      </label>
			    </div>
			  </div>
			  <div class="row" ng-class="{'has-error': tas.newTAForm.$dirty}">
			    <div class="large-12 columns">
			      <label>Instructions:
			        <input type="text" placeholder="type in your instructions" ng-model="tas.newTA.instructions" required />
			      </label>
			    </div>
			  </div>
			  <div class="row" ng-class="{'has-error': tas.newTAForm.$dirty}">
			    <div class="large-12 columns">
			      <label>Photo:
			        <input type="url" placeholder="photo url" ng-model="tas.newTA.photo" required />
			      </label>
			    </div>
			  </div>
			  <div class="row">
			    <div class="large-12 columns">
				    <a type="submit" value="Save" class="button" ng-click="tas.addOrEditTA()" href="/">Save</a>
			    </div>
			  </div>			
			</form>
		  
		  
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
    
    <ul data-orbit="" class="example-orbit">
      <li><img src="images/enchiladas1.png" alt="slide 1"></li>
      <li class="active"><img src="images/spaghetti.png" alt="slide 2"></li>
      <li><img src="images/lasagna.png" alt="slide 4"></li>      
      <li><img src="images/hamburger.png" alt="slide 5"></li>
    </ul>    
    
    <div ng-view></div>

     
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>  
  <script src="bower_components/firebase/firebase.js"></script>
	<script src="bower_components/foundation/js/foundation.min.js"></script>
	<script src="bower_components/modernizr/modernizr.js"></script>
  <script src="js/main.module.js"></script>
  <script src="js/main.config.js"></script>
  <script src="js/main.constants.js"></script>
  <script src="js/tas/tafactory.factory.js"></script>
  <script src="js/tas/edit.controller.js"></script>    
  <script src="js/tas/show.controller.js"></script>
  <script src="js/tas/ta.controller.js"></script>
  <script src="js/auth/auth.config.js"></script>
  <script src="js/auth/auth.controller.js"></script>
  <script src="js/auth/logout.controller.js"></script>
  <script src="js/auth/auth.factory.js"></script>
  <script>
  $(document).foundation();
	</script>
  </body>
</html>

