
<!-- <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="font">First Name</th>
      <th class="font">Last Name</th>
      <th class="font">Nick Name</th>
      <th class="font">Job</th>
      <th class="font">Employed</th>
    </tr>
  </thead>
  <tbody>
    <tr class="hellofriends" ng-repeat="(id, person) in tas.data
      | filter:friendFilterQuery
      | orderBy:['lastName','-nickName']:friendReverse">
      <td class="font">{{person.firstName}}<img ng-src="{{person.Photo}}" style="max-width: 100px; max-height: 100px; margin-left: 10px; border-radius: 10px;"></td>
      <td class="font">{{person.lastName}}</td>
      <td class="font">{{person.nickName | uppercase}}</td>
      <td class="font">{{tas.cohortOptions[person.cohort]}}</td>
      <td><input type="checkbox" ng-change="tas.updateTA(id)" ng-model="person.current"></td>
      <td>
	      <button class="btn btn-sm btn-warning margen"><a class="glyphicon glyphicon-eye-open" href="/#/show/{{id}}"></a></button>
        <button class="btn btn-danger glyphicon glyphicon-remove margen" ng-click="tas.removeTA(id)"></button>
	      <button class="btn btn-sm btn-success margen"><a class="glyphicon glyphicon-pencil" href="/#/show/{{id}}/edit"></a></button>
      </td>
    </tr>
  </tbody>
  <h4 style="margin-top: 20px; font-family: 'Titillium Web', sans-serif;">Search</h4>
		<input ng-model="friendFilterQuery" style="margin-bottom: 20px;">
</table> -->
