<!--
<form name="loginForm" ng-submit="auth.login()" novalidate>
  <h2>Login</h2>

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email Address" ng-model="auth.user.email" required>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" ng-model="auth.user.password" required>
  </div>

  <div class="btn btn-primary" ng-click="auth.register()">Register</div>
  <input type="submit" class="btn btn-success" value="Login">
  <div class="btn btn-warning" ng-click="auth.forgotPassword()">Forgot Password</div>
</form>
-->
<div class="row">
	<div class="large-12 columns">
	  <h1>Welcome To Cheff It!!!!</h1>        
	  <p>If you have not registered, please do so to start your own Online Recipe Book!    </p>
	</div>
	</div>
	<div class="row">
	<div class="large-12 columns">
	  <h3>What Can You Do With Cheff It?</h3>
	  <p>You can save all your recipes on to your own account. And it is easy to save your recipes with our clean and easy interface. Thats not all you can search for recipes and also type in the ingredients that you have and you will be able yo search recipes acording to your ingredients!</p>
	</div>
	</div>
<h1>loggin page</h1>