<h1>Welcome {{user.password.email}}</h1>

<table style="width: 100%;">
	<thead>
	  <tr>
	    <th class="rowNames">Name</th>
	    <th class="rowNames">Description</th>
	    <th class="rowNames">Ingredients</th>
	    <th class="rowNames">Instructions</th>
	  </tr>
	</thead>
	<tbody>
	  <tr class="hellofriends" ng-repeat="(id, person) in tas.data
      | filter:friendFilterQuery
      | orderBy:['lastName','-nickName']:friendReverse">
      <td class="font">{{person.firstName}}<img ng-src="{{person.photo}}" style="max-width: 100px; max-height: 100px; margin-left: 10px; border-radius: 10px;"></td>
      <td class="font">{{person.lastName}}</td>
      <td class="font">{{person.nickName | uppercase}}</td>
      <td class="font">{{person.instructions}}</td>
      <td>
	      <a href="/#/show/{{id}}"><button class="button">view</button></a>
        <button class="button" ng-click="tas.removeTA(id)">delete</button>
	      <a href="/#/show/{{id}}/edit"><button class="button">edit</button></a>
      </td>
    </tr>	
	</tbody>
</table>
