nav.top-bar.colorNav.contain-to-grid(data-topbar='', role='navigation')
  ul.title-area
    li.name
      a(href='index.html')
        img.logo(src='images/ChefItLOGO.png')
    // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    li.toggle-topbar.menu-icon
      a(href='#')
        span Menu
  | &#x9;&#x9;  
  section.top-bar-section
    // Right Nav Section
    ul.right
      li
        a.backLinks(href='index.html') Home
      | &#x9;&#x9;      
      li.has-dropdown
        a.backLinks(href='#') Login or Register
        | &#x9;&#x9;        
        ul.dropdown
          li
        
            
