<form name="loginForm" ng-submit="auth.login()" novalidate>
  <div class="row" ng-hide="auth.isLoggedIn()">
    <div class="large-12 columns right inputColor">
      <input type="email" placeholder="email" ng-model="auth.user.email" required>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns right inputColor">
      <input type="password" id="login-password" placeholder="Password" ng-model="auth.user.password" required>
    </div>
  </div>
  <div class="row">
    <div class="large-12 large-centered columns">
      <button type="submit" class=" button success expand">Login</button>
    </div>
  </div>
  <div class="row">
    <div class="large-12 large-centered columns" style="margin-bottom: 10px;">
       <button type="submit" class="button expand" value="Register" ng-click="auth.register()">Register</button>
    </div>
  </div>
</form>
