
<html>
  <body>
    <form name="loginForm" ng-submit="auth.login()" novalidate="">
      <div ng-hide="auth.isLoggedIn()" class="row">
        <div class="large-12 columns right inputColor">
          <input type="email" placeholder="email" ng-model="auth.user.email" required=""/>
        </div>
      </div>  
      <div class="row">
        <div class="small-12 columns right inputColor">
          <input id="login-password" type="password" placeholder="Password" ng-model="auth.user.password" required=""/>
        </div>
      </div>  
      <div class="row">
        <div class="large-12 large-centered columns">
          <button type="submit" ng.click="auth.login()" class="button success expand">Login</button>
        </div>
      </div>  
      <div class="row">
        <div style="margin-bottom: 10px;" class="large-12 large-centered columns">
          <button type="submit" value="Register" ng-click="auth.register()" class="button expand">Register</button>
        </div>
      </div>
    </form>
  </body>
</html>